<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="maincontainer">
      <li><h1><%=post.name%></h1></li>
      <li><img src="<%=post.img%>" class="showimg"></li>
      <li><%=post.description%></li>
      <% if(post.heart === true){ %>
        Checked
      <% } %>
    </div>
    <br/>
    <h3>Comments</h3>
    <% if(post.comments.length > 0){ %>
        <% for(let i = 0; i < post.comments.length; i++){ %>
          <li><%=post.comments[i]%></li>
        <% } %>
    <% } %>
    <div class="comments">
      <form action="/posts/<%=post.id%>/comments?_method=PUT" method="POST">
        <textarea placeholder="leave a comment!" name="comments" rows="2" cols="60"></textarea>
        <input type="submit" value="Comment">
      </form>
    </div>

    <div class="buttons">
      <!-- edit -->
      <form action="/posts/<%=post.id%>/edit">
        <input type="submit" value="Edit">
      </form>
      <!-- home button -->
      <form action="/posts">
        <input type="submit" value="Home">
      </form>

      <!-- delete -->
      <form action="/posts/<%=post.id%>?_method=DELETE" method="POST" class>
        <input type="submit" value="DELETE">
      </form>
    </div>

  </body>
</html>
