<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="maincontainer">
      <li><h1><%=post.name%></h1></li>
      <li><img src="<%=post.img%>" class="showimg"></li>
      <li><%=post.description%></li>
      <% if(post.heart === true){ %>
        Checked
      <% } %>
    </div>
    <br/>
    <div class="buttons">
      <!-- edit -->
      <form action="/posts/<%=post.id%>/edit">
        <input type="submit" value="Edit">
      </form>
      <!-- home button -->
      <form action="/posts">
        <input type="submit" value="Home">
      </form>

      <!-- delete -->
      <form action="/posts/<%=post.id%>?_method=DELETE" method="POST" class>
        <input type="submit" value="DELETE">
      </form>
    </div>

  </body>
</html>
